name: Clickable Build

on: [ push, pull_request ]

jobs:
  build:
    strategy:
      matrix:
        arch: [amd64, arm64]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install clickable
        run: |
          python3 -m pip install clickable-ut --upgrade
      - name: Build
        run: |
          CLICKABLE_FRAMEWORK=ubuntu-sdk-20.04 clickable build --skip_review --libs --app --arch ${{ matrix.arch }}
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Launcher-modular_${{ matrix.arch }}
          path: build/*/app/*.click
          if-no-files-found: error
